<!DOCTYPE html>
<html lang="{{ config.default_language }}">
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- For browsers without prefers-color-scheme, change theme based on time of day -->
    <script type="text/javascript">
      if (window.matchMedia('(prefers-color-scheme: dark)').media === 'not all') {
        document.documentElement.style.display = 'none';
        var hour = new Date().getHours();
        var sheet = (hour >= 20 || hour < 6) ? "/dark.css" : "/light.css";
        document.head.insertAdjacentHTML(
          'beforeend',
          '<link rel="stylesheet" type="text/css" href="'+sheet+'" onload="document.documentElement.style.display = \'\'">'
        );
      }
    </script>
    <!-- For browsers without JS, load the light theme -->
    <noscript><link rel="stylesheet" type="text/css" href="/light.css"></noscript>
    <!-- For browsers supporting prefers-color-scheme, use that -->
    <link rel="stylesheet" type="text/css" href="/dark.css" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" type="text/css" href="/light.css" media="(prefers-color-scheme: light)">
    {% block scripts %}{% endblock scripts %}
  </head>
  <body>
    {% if config.extra.debug %}
    <div>
      <font size="1px" face="courier">
        <pre>{{ __tera_context | striptags }}</pre>
      </font>
    </div>
    {% endif %}
    <div class="wrapper">
      <header>
        {% block sidebar %}
        {% endblock sidebar %}
        <noscript>
          <p>
            I see you have JavaScript disabled.
            Wise choice, this site designed for all content to be accessible without JS, or even through a terminal browser.
            However, in GUI browsers, I have this page themed dynamically, so when it's dark outside, you'll get a dark theme.
            Apart from math equation rendering with Katex, it's also the only part of this website that uses JavaScript.
            You need JS enabled if you want the dynamic theme; I have no reason to track you, I don't run analytics of any kind.
          </p>
        </noscript>
      </header>
      <section>
        {% block content %}{% endblock content %}
      </section>
    </div>
  </body>
</html>
