@charset 'UTF-8';

body {
	margin: 0px;
	padding: 1em;
	background: #f3f2ed;
	font-family: 'Lato', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #8A8A8A;
	padding-left: 50px;
	line-height: 1.5;
}
h1 {
	margin: 0px;
	padding: 0px;
	font-weight: 300;
	text-align: center;
}
ul.toc li {
	margin: 8px 0;
}
h3.name {
	font-style: italic;
	text-align: center;
	font-weight: 300;
	font-size: 20px;
}
a {
		color: #D1551F;
	}
a:hover {
	color: #AF440F;
}
	strong {
		font-weight: 700;
		color: #2A2A2A;
	}
